export const fetchPolyfill = <?= fetchPolyfill ?>;
export const promisePolyfill = <?= promisePolyfill ?>;
export const webViewBridge = <?= webViewBridge ?>;
export const metadataViewPort = <?= metadataViewPort ?>;
