export const fetchPolyfill: string = <?= fetchPolyfill ?>;
export const promisePolyfill: string = <?= promisePolyfill ?>;
export const webViewBridge: string = <?= webViewBridge ?>;
export const metadataViewPort: string = <?= metadataViewPort ?>;
