export const fetchPolyfill = unescape('<?= fetchPolyfill ?>');
export const promisePolyfill = unescape('<?= promisePolyfill ?>');
export const webViewBridge = unescape('<?= webViewBridge ?>');
export const metadataViewPort = unescape('<?= metadataViewPort ?>');
